* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  font-family: "Courier New", Courier, monospace;

  --inner-width: 80dvh;
}

:root {
  --main-text-color: #000;
  --main-text-hover-color: #e8dee8;

  --main-box-shadow-color: #20202080;
}

.wrapper {
  height: 100dvh;
  width: 100dvw;
}

.inner {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85dvw;
  height: var(--inner-width);
}

#input_field_container {
  position: relative;
  width: 100%;
  height: 280px;
}

.clipboard_button {
  position: absolute;
  width: 60px;
  bottom: -70px;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 20px;
  padding: 15px;
  transition: 0.1s;
  cursor: pointer;
}
.clipboard_button:hover {
  color: #e8dee8;
  background-color: #527eec;
}

.clipboard_button_img {
  width: 100%;
}

#input_field {
  resize: none;
  width: 100%;
  height: 100%;
  outline: 1px black solid;
  font-size: 2.8rem;
  border-radius: 18px;
  margin-bottom: 40px;
  padding: 10px 20px;
  letter-spacing: 1px;
}

.clipboard_button {
  position: absolute;
}

#keyboard {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.keyboard_row {
  display: flex;
  align-items: center;
  flex-direction: row;
  text-align: center;
  gap: 14px;
}

.key_row_element {
  width: 6%;
  max-width: 90px;
  height: 60px;
  font-size: 2rem;
  border: 1px solid black;
  border-radius: 11px;
  cursor: pointer;
  user-select: none;
  box-shadow: 1px 2px 2px #20202080;
  transition: 0.1s;
}

.key_row_element:hover {
  box-shadow: 1px 2px 2px #20202080;
  background-color: #527eec;
  color: #dbd3db;
}

.backspace,
.del,
.enter {
  flex-grow: 1;
  max-width: none;
  padding: 0 10px;
  overflow: hidden;
}

.backspace {
  min-width: 190px;
}

.del {
  min-width: 80px;
}

.enter {
  min-width: 120px;
}

.tab {
  width: 12%;
  max-width: 140px;
  min-width: 80px;
}

.caps {
  width: 16%;
  max-width: 210px;
  min-width: 110px;
}

.shift {
  max-width: none;
  flex-grow: 1;
  min-width: 120px;
}

.language {
  width: 20%;
  min-width: 170px;
}

.space {
  flex-grow: 1;
}

.language,
.space {
  max-width: none;
}

.pressed {
  background-color: #3737d5;
  color: #fff;
}
